@font-face {
  font-family: 'Roboto-Regular';
  src: url('../font/Roboto-Regular.eot');
  src: url('../font/Roboto-Regular.woff2') format('woff2'),
       url('../font/Roboto-Regular.woff') format('woff'),
       url('../font/Roboto-Regular.ttf') format('truetype'),
       url('../font/Roboto-Regular.svg#Roboto-Regular') format('svg'),
       url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../font/Roboto-Bold.eot');
  src: url('../font/Roboto-Bold.woff2') format('woff2'),
       url('../font/Roboto-Bold.woff') format('woff'),
       url('../font/Roboto-Bold.ttf') format('truetype'),
       url('../font/Roboto-Bold.svg#Roboto-Bold') format('svg'),
       url('../font/Roboto-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../font/Roboto-Light.eot');
  src: url('../font/Roboto-Light.woff2') format('woff2'),
       url('../font/Roboto-Light.woff') format('woff'),
       url('../font/Roboto-Light.ttf') format('truetype'),
       url('../font/Roboto-Light.svg#Roboto-Light') format('svg'),
       url('../font/Roboto-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}