.social-group {
	padding: 15px 0;

}

	%transitionAll {
		transition: all 0.35s;
		transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
	}

	.social-group__block {
		font-size: 0;
		text-align: center;	
		margin: 0 auto;
	}

	.soc-elem {
		margin: 0 7px; 
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		position: relative;
		overflow: hidden;
		border-radius: 50%; 
		text-align: center;
		background-color: #fff;
		opacity: 0.99;
		box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);

		@include small-screen {
			margin: 0 15px;
		}

		.soc-elem__link:focus:before,
		.soc-elem__link:hover:before {
			top: -10%;
	  		left: -10%;
		}

		.soc-elem__link:focus .fab,
		.soc-elem__link:hover .fab {
			color: #fff;
		  	transform: scale(1);
		}
		
		&__link {
			@extend %transitionAll;
			display: block;
			cursor: pointer;

			&_viber:before {
				background-color: #8518FF;
			}

			&_linkedin:before {
				background-color: #3cf;
			}

			&_telegram:before {
				background-color: #18C1FF;;
			}

			&_github:before {
				background-color:  #28a745;
			}

			&_skype:before {
				background-color:  #00aff0;
			}

			&:before {
				@extend %transitionAll;
				content: '';
				width: 120%;
				height: 120%;
				position: absolute;
				top: 90%;
				left: -110%;
				transform: rotate(45deg);

			}

			.fab {
				@extend %transitionAll;
				font-size:30px;
				vertical-align: middle;
				transform: scale(0.8);			
			}

			.fa {

				&-viber {
					color: #8518FF;
				}

				&-telegram {
					color: #18C1FF;
				}

				&-linkedin {
					color: #3cf;
				}

				&-github {
					color:  #28a745;
				}

				&-skype {
					color:  #00aff0;
				}
			}				
		}
	}